.lst-container {
    border-radius: 5px;
    border: 1px solid var(--color-bg-tertiary);
    padding: 10px;
}

.lst-container p {
    font-size: 12px;
    color: var(--color-font-tertiary);
}

.lst-container h3 {
    font-size: 16px;
    color: var(--color-font-secondary);
}